* {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Helvetica Neue";
}

h1{
    text-align: center;
    font-size: 2.5em;
}

h2{
    text-align: center;
}

p{
    line-height: 30px;  
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    
}

.navbar1 {
    grid-column: 1/9;
    grid-row: 1;
    background-color: black;
    margin-bottom: 40px;
    padding-top: 10px;
    position:sticky;
    top: 0.01px;
    z-index: 1;
 
}

/*navbar for the home page*/
.navbar2 {
    grid-column: 1/9;
    grid-row: 1;
    margin-bottom: 70px;
    padding-top: 10px;
    position:sticky;
    top: 0.01px;
    background-color: black;
    padding-bottom: 0.1px;
    z-index: 1;
 
}


ul{
    
    list-style: none;
    text-decoration: none;
    text-align: center;
    font-size: 1.2em;
    margin-top: 0;
    margin-right: 70px;
   
}
    
    .logo-home{
        grid-row: 1;
        margin-bottom: -38px;
        margin-top:0px;
        margin-left: 40px;
    }  
    
      .about{
        grid-row: 1;
        display: inline-block;
    }   
    
      .spacecraft{
        grid-row: 1;
        display: inline-block;
        margin-left: 80px;
        margin-right: 80px;
    }   
    
      .news{
        grid-row: 1;
        display: inline-block;
    }   
    
li a{
    
    text-decoration: none;
    color:white;
    
}

a:hover{
    

}

.footer1{
    grid-column: 1/9;
    grid-row: 10;
    background-color: black;
    margin-top: 200px;
    padding-top: 15px;
    padding-bottom: 15px;

}

.footer1 a{
    color: white;
    margin-left: 10px;
    
}


.footer1 h1{
   text-align: left;
    font-size: 2em;
}



.footer-logo{
    grid-column: 1/2;
    margin-bottom: 0;
    margin-top:0;
    margin-left: 25px;
    margin-bottom: -68px;
    
    
    
}

.twitter{
   margin-left: 300px;    
   display: inline-block;
    margin-right: 20px;
    } 

  
.facebook{
   display: inline-block;
    margin-right: 20px;   
    }  
  
 .instagram{
      display: inline-block;
     margin-right: 20px;
    } 

 .youtube{
      display: inline-block;   
    
    } 

.footer1 p{
font-size: 15px;
font-style: italic;
font-weight: lighter;
color: #ebebeb;
text-align: right;
margin-top: -50px;
margin-right: 100px;
line-height: 20px;
   
    
}


.headline{
  
  grid-row: 2;
  grid-column: 1/9;
  margin-bottom: 20px;

}

.headline h2 {
 font-size: 35px;
}

/*hover effect*/
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}



/* HOME*/



.backgroundimg{
background-image:url(nasa-53884-unsplash.jpg);
background-size: cover; 
min-width: 100vw;
}



.backgroundimg h1{
    color: white;
}

#demo {
  grid-row: 3;
  max-width: 420px;
  text-align: center;
  font-size: 50px;
  margin-bottom: 20px;
  background-color: white;
  margin-right: 430px;
  margin-left: 430px;
  padding-top: 100px;
  padding-bottom: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  opacity: 0.6;
}

.homebox1{
    grid-row: 4;
    max-width: 420px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 430px; 
    margin-right: 430px; 
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: black;
    opacity: 0.9;
        
    
    
    

}

.homebox1 a{
    text-decoration: none;
    color: white;
}



/* About the launch */


.aboutbox1{
    
    grid-column: 1/5;
    grid-row: 3;
    margin-right: 20px;
    margin-left: 20px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
}

.aboutbox2{
    
    grid-column: 5/9;
    grid-row: 3;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*THE SPACECRAFT*/

.spacecraftbox1{
    grid-column: 2/8;
    grid-row: 3; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}



/* IMG hover effect */
.gutn {

  position: relative;
  
}


.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.gutn:hover .image {
  opacity: 0.5;
}

.gutn:hover .middle {
  opacity: 1;
}

.text p {
font-family: "Helvetica Neue";
font-weight: normal;
font-size: 22px;
line-height: 38px;
text-align: center;
color: #000;
}


/* Newsletter*/

/*Email form*/


.email-box{
    
    font-size: 20px;
    max-width: 500px;
    padding: 0;
    margin-left: 80px; 
}

.email-box h3{
    padding-top: 5px;
    padding-bottom: 0px;
    padding-left: 10px;
    font-weight: normal;
    margin-bottom: 0px;
    background-color: white;
    color: #707070;
}

input[type="text"]{
    width: 100%;
    height: 45px;
    padding: 10px;
    outline: none;
    font-size: 25px;
}


.error{
    color: red;
    display: none;
}


/*Button*/

.submit-btn{
    max-width: 160px;
    font-weight: lighter;
    margin-top: -77px;
    margin-left: 630px;
    padding: 22px;
    padding-left: 25px;
    padding-right: 25px; 
    background-color: #707070;

}

/*click effect for button*/
.submit-btn:active {
  background-color: #707070;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}



button{
    font-size: 27px;
    background-color: #707070;
    border: none;
    color: white;
    
}

button:hover{
    
    color: black;
 
}

.submit-btn:hover{
    color: white;
}


.newsletterbox1{
    
    grid-column: 2/8;
    grid-row: 3; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: black;
    color: #b1aeae;
    padding: 20px;
    font-weight: normal;
    font-size: 18px;
    padding-bottom: 50px;
    margin-bottom: 20px;
}

.newsletterbox1 h2{
    
    font-size: 28px;
}


.newsletterbox2{
  grid-column: 1/9;
  grid-row: 4;
  padding: 20px;
  margin-left: 400px;
  margin-right: 400px;
  font-size: 20px;
  text-align: center;
  color: white;
  background-color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/*MEdia quuøææru*/


@media only screen and (max-width: 1200px){
   
 #demo {
  margin-right: 25%;
  margin-left: 25%;
 
} 

.homebox1{
    grid-column: 1/9;
    margin-left: 300px; 
    margin-right: 300px; 
    min-width: 400px;
   
}
    
.text p {
font-family: "Helvetica Neue";
font-weight: normal;
font-size: 17px;
line-height: 22px;
text-align: center;
color: #000 ;
}
    
.submit-btn{
    background-color: #707070;
    color: white;
    max-width: 200px;
    font-weight: lighter;
    margin-top: 20px;
    margin-left: 200px;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 8px;

} 

}

@media only screen and (max-width: 1010px){
 
ul{
    
    list-style: none;
    text-decoration: none;
    text-align: center;
    font-size: 1.2em;
    margin-top: 0;
    margin-right: 10px;
   
}
    
    .logo-home{
        grid-row: 1;
        margin-bottom: -38px;
        margin-top:0px;
        margin-left: 20px;
    }  
    
      .about{
        grid-row: 1;
        display: inline-block;
        margin-left: 50px;
    }   
    
      .spacecraft{
        grid-row: 1;
        display: inline-block;
        margin-left: 20px;
        margin-right: 20px;
    }   
    
      .news{
        grid-row: 1;
        display: inline-block;
    }    
    
.footer1 p{
font-size: 15px;
font-style: italic;
font-weight: lighter;
color: #ebebeb;
text-align: center;
margin-top: -10px;
line-height: 20px;
margin: 0;    
}
    
 .newsletterbox2{
  grid-row: 4;
  padding: 20px;
  margin-left: 200px;
  margin-right: 200px;
  font-size: 20px;
  text-align: center;
  color: white;
  background-color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}   
    
}

@media only screen and (max-width: 800px){
   
 #demo {
  grid-row: 3; 
  text-align: center;
  font-size: 50px;
  margin-bottom: 20px;
  background-color: white;
  margin-right: 20%;
  margin-left: 20%;
  padding-top: 100px;
  padding-bottom: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  opacity: 0.6;
} 
    
.homebox1{
    grid-column: 1/9;
    margin-left: 130px; 
    margin-right: 130px;
    min-width: 350px;

}
    
.text p {
font-family: "Helvetica Neue";
font-weight: normal;
font-size: 13px;
line-height: 18px;
text-align: center;
color: #000 ;
}
    
ul{
    
    list-style: none;
    text-decoration: none;
    text-align: center;
    font-size: 1em;
    margin-top: 0;
    margin-right: 10px;
   
}
    
    .logo-home{
        grid-row: 1;
        margin-bottom: -38px;
        margin-top:0px;
        margin-left: 20px;
    }  
    
      .about{
        grid-row: 1;
        display: inline-block;
        margin-left: 150px;
    }   
    
      .spacecraft{
        grid-row: 1;
        display: inline-block;
        margin-left: 20px;
        margin-right: 20px;
    }   
    
      .news{
        grid-row: 1;
        display: inline-block;
    }  
}
/*MOBILE VIEW*/
@media screen and (max-width: 600px) {
    
   
* {
    box-sizing: border-box;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    
}
    
 
body{
    margin: 0;
    font-family: "Helvetica Neue";
}

h1{
    text-align: center;
    font-size: 2.5em;
}

h2{
    text-align: center;
}

p{
    line-height: 30px;  
}


.navbar1 {
    grid-column: 1/6;
    grid-row: 1;
    background-color: black;
    margin-bottom: 25px;
    padding-top: 10px;
    padding-bottom: 20px;
    position:sticky;
    top: 0.01px;
    z-index: 1;
 
}

/*navbar for the home page*/
.navbar2 {
    grid-column: 1/6;
    grid-row: 1;
    margin-bottom: 70px;
    padding-top: 10px;
    position:sticky;
    top: 0.01px;
    padding-bottom: 20px;
   
 
}


ul{
    
    list-style: none;
    text-decoration: none;
    text-align: center;
    font-size: 0.9em;
    margin: 0;
   
}
    
    .logo-home{
        grid-row: 1;
        margin: 0;
        text-align: center;
        margin-bottom: 10px;
        margin-left: 20px;
    
    }  
    
      .about{
        grid-row:1;
        display: inline-block;
        margin-left: -50px;  
          
    }   
    
      .spacecraft{
        grid-row: 1;
        display: inline-block;
        margin: 0;
        margin-left: 10px;
        margin-right: 10px;  
        
    }   
    
      .news{
        grid-row: 1;
        display: inline-block;
    }   
    
li a{
    
    text-decoration: none;
    color:white;
    
}

a:hover{
    
   ;
}

.footer1{
    grid-column: 1/6;
    grid-row: 10;
    background-color: black;
    margin-top: 150px;
    padding-top: 15px;
    padding-bottom: 15px;

}   

.footer1 a{
    color: white;
    margin-left: 2px;
    
}


.footer1 h1{
   text-align: left;
    font-size: 2em;
}



.footer-logo{
    margin-bottom: 0;
    margin-top:0;
    margin-left: 10px;
    margin-bottom: -68px;
    text-align: center;
    
}

.twitter{
   margin-left: 100px;    
   display: inline-block;
    margin-right: 15px;
    margin-top: 60px;
    } 

  
.facebook{
   display: inline-block;
    margin-right: 15px;   
    }  
  
 .instagram{
      display: inline-block;
     margin-right: 15px;
     
    } 

 .youtube{
      display: inline-block;   
    
    } 

.footer1 p{
font-size: 13px;
font-style: italic;
font-weight: lighter;
color: #ebebeb;
text-align: center;
margin-top: -10px;
line-height: 20px;
margin: 0;
   
    
}


.headline{
  
  grid-row: 2;
  grid-column: 1/6;
  margin-bottom: 20px;
  font-size: 12px;

}

.headline h2 {
font-size: 25px;
}



/* HOME*/

.backgroundimg{
background-image:url(nasa-53884-unsplash.jpg);
background-size:cover; 
grid-column: 1/6;
background-repeat: no-repeat;
background-position: center; 
background-attachment: fixed;
min-width: 100%;
  
}
    


.backgroundimg h1{
    color: white;
}

#demo {
  grid-row: 3; 
  grid-column: 2/5;
  text-align: center;
  font-size: 50px;
  margin-bottom: 10px;
  margin-left: 3%;
  margin-right: 3%;
  background-color: white;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 8px;
  padding-right: 8px;   
  opacity: 0.6;
}
    
.homebox1{
    grid-row: 4;
    grid-column: 2/5;
    text-align: center;
    font-size: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 3%;
    margin-right: 3%;
    min-width: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: black;
    opacity: 0.9;
        
    
    
        

}

.homebox1 a{
    text-decoration: none;
    color: white;
}



/* About the launch */


.aboutbox1{
    
    grid-column: 1/6;
    grid-row: 4;
    margin-right: 20px;
    margin-left: 20px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 50px;
   
}

.aboutbox2{
    
    grid-column: 1/6;
    grid-row: 5;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*THE SPACECRAFT*/

.spacecraftbox1{
    grid-column: 1/6;
    grid-row: 4; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 20px;
    margin-right: 20px;
    
}



/* IMG hover effect */
.gutn {

  position: relative;
  
}


.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.gutn:hover .image {
  opacity: 0.5;
}

.gutn:hover .middle {
  opacity: 1;
}

.text p {
font-family: "Helvetica Neue";
font-weight: normal;
font-size: 10px;
line-height: 14px;
text-align: center;
color: #000 ;
}


/* Newsletter*/


.newsletterbox1{
    
    grid-column: 1/6;
    grid-row: 3; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: black;
    color: #b1aeae; 
    padding: 20px;
    font-weight: normal;
    font-size: 15px;
    padding-bottom: 50px;
    margin-left: 15px;
    margin-right: 15px; 
}
    
.newsletterbox1 h2{
    
    font-size: 25px;
}



.submit-btn{
    background-color: #707070;
    color: white;
    max-width: 200px;
    font-weight: lighter;
    margin-top: 20px;
    margin-left: 70px;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 8px;

} 
    
    
    .newsletterbox2{
    grid-column: 1/6;
    grid-row: 4; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 15px;
    margin-right: 15px; 
    margin-top: 20px;
    display: inherit;   
    }
    
      .newsletterbox3{
    grid-column: 1/6;
    grid-row: 5; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 15px;
    margin-right: 15px; 
    margin-top: 20px;
    display: inherit;
        
    }
    
    .email-box{
    
    font-size: 20px;
    max-width: 500px;
    padding: 0;
    margin-left: 0px; 
}

.email-box h3{
    padding-top: 5px;
    padding-bottom: 0px;
    padding-left: 10px;
    font-weight: normal;
    margin-bottom: 0px;
    background-color: white;
    font-size: 20px;
}

input[type="text"]{
    width: 100%;
    height: 45px;
    padding: 10px;
    outline: none;
    font-size: 17px;
}


.error{
    color: red;
    display: none;
}


  button{
    font-size: 22px;
    background-color: #707070;
    border: none;
    color: white;
    margin-left: 10px;
    
}
    


button:hover{
    
    color: black;  
    

}
}
    @media screen and (max-width: 380px) {
       
        .twitter{
   margin-left: 80px;    
    }  
        
        
    #demo {

  font-size: 40px;

}  
        
.text p {

font-size: 8px;
line-height: 12px;


}
        
.submit-btn{
  
    margin-left: 50px;
   

} 
        
    }    

       @media screen and (max-width: 320px) {
       
        .twitter{
   margin-left: 55px;    
    }  
        
        
    #demo {
  font-size: 35px;

} 

ul{
    
    font-size: 0.8em;
   
   
}
           
.text p {
font-size: 7px;
line-height: 11px;

}
           
.submit-btn{
  
    margin-left: 25px;
   

} 
        
    } 
    
    

    
    
    

    
   
   